.posicion{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.img-fluid{
    height:100%;
    width:100%;
    max-width: 600px;

    
}

.tituloContacto{
    margin-top: 1em;
    margin-bottom: 2em;
}

.mapa{
    
    width: 100%;
    height: 70vh;
    max-width: 600px;
    max-height: 750px; 
    
}
.contacto{
    text-align: center;
}

.paginaContacto{
    text-align: center;
    width:50%;
    font-size:italic;
    background-color:gainsboro;
    color:gray;
    margin-top: 2%;
    margin-left: 25%;
   
    
}

.paginaContactInputs{
    width: 70%;
    max-width: 400px;
}

.textoMision{
    margin-left: 0.5em;
    margin-right: 0.5em;

}

.parrafoIndex{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.tituloIndex{
    margin-top: 1.5em;
    text-align: center;
}
.logos2{
    width: 200px;
    align-content: center;
}

.probando {
    background-color: #f5be6b;
    text-align: center;
}

header {
    min-height: 20vh;
    background-color: #757575;
    font-family: 'Open Sans', sans-serif;
}

/* body { */
    /* background-color: #F1F2F2; */

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        color: #606578;
    }

    .contacto {
        font-size: 1.5em;
    }

    /*MISION */
    .tituloMision {
        text-align: center;
        font-family: 'Open Sans', sans-serif;

    }

    .subtitulo {

        margin-top: 3em;
        margin-bottom: 3em;
    }

    /*MISION */
    /*INDEX */

    .sectionIndex2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2em;

    }

    .tituloIndex {

        font-family: 'Open Sans', sans-serif;
        text-align: left;
        font-size: 2em;

    }


    /*INDEX */
    p {
        font-family: 'Open Sans', sans-serif;
        color: #606578;

        font-size: 1.1rem;
        line-height: 1;

    }

    h2 {
        font-family: 'Open Sans', sans-serif;
        color: #606578;
        font-size: 1.3rem;
        text-align: center;

    }

    /*SERVICIOS */
    .galeria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column-gap: 2em;

    }

    .img {


        width: 75%;
        height: 75%;
        width: 500px;
        height: 400px;
    }



    .division {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    .textoMision {
        font-family: 'Open Sans', sans-serif;

    }


    .contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    /* */
    label {
        display: block;
    }

    /*contacto */



    footer {
        min-height: 15vh;
        background-color: #757575;
        width: 100%;
    }



    /*MISION,CONTACTO,SOBREMI, SERVICIOS */

    .pieDePagina {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        font-family: 'Open Sans', sans-serif;


    }



    #nosVemosFooter {
        font-family: 'Open Sans', sans-serif;
        color: #1F0802;
        font-size: 1rem;
    }



    /*INDEX */

    @media (min-width: 320px) and (max-width: 419px) {
        .gridsBody {
            grid-template-columns: 1fr;

            grid-template-rows: 10% 35% 9% 45% 15%;


        }

        h2,
        p,
        h1 {
            font-size: 0.6em;
        }


    }

    @media (min-width: 320px) and (max-width: 419px) {
        .galeria {
            background-color: tomato;

        }

        .serviciosParrafo {
            background-color: aqua;
            font-size: 1em;
        }

        img {
            width: 100%;
            max-width: 350px;
            max-height: 300px;
        }




    }



    @media (min-width: 420px) and (max-width: 767px) {
        .galeria {
            background-color: gold;

        }

        .serviciosParrafo {
            background-color: red;
            font-size: 1em;

        }

        h2,
        p {
            font-size: 1rem;
        }

        .img {

            width: 100%;
            max-width: 500px;
            max-height: 500px;

        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .galeria {
            background-color: #f5be6b;

        }

        .serviciosParrafo {
            background-color: blue;

        }

        .img {
            width: 100%;

        }

    }

    @media (min-width: 320px) and (max-width: 419px) {
        .container {
            background-color: gold;

        }

        .carouselExampleDark {
            background-color: aqua;
        }



        h2,
        p {
            font-size: 0.6rem;
        }



    }

    @media (min-width: 420px) and (max-width: 767px) {
        .container {
            background-color: red;

        }


    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .container {
            background-color: blue;

        }


    }


    .footerIndex {
        color: white;
        grid-area: ver;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px;


    }

    .logo1 img {
        width: 180px;

    }

    .logo2 img {
        width: 110px;
    }

    .logo3 img {
        width: 120px;
    }


    /*SOBREMI */
    .gridsFooterSobreMi {
        color: white;
        grid-area: ver;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        font-family: 'Open Sans', sans-serif;



    }

    #nosVemosFooter {
        color: #1F0802;
        font-family: opens sans-serif;
        font-size: 1.2em;


    }

    .rrss svg:hover {

        transform: scale(1.2, 1.2);
    }

    .rrss svg {
        width: 2em;
        height: 2em;
    }


    .parallax {
        background-image: url(../assets/4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 85vh;
    }

    .tituloServicios {
        font-size: 1.5rem;
    }

    .frasesMision {
        margin-top: 2em;
        margin-bottom: 2em;
    }


    .navbar {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;

    }

    .contenedorMision {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 1em;
        margin-bottom: 3em;

    }
/* } */