header {
    background-color: #757575;
    min-height: 15vh;
}

body {
    background-color: #F1F2F2;
}

nav ul :hover {
    list-style-type: none;
    transform: scale(1.2, 1.2);

}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}


body {

    overflow-x: hidden;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #606578;
}

/*MISION */
.tituloMision {
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

/*MISION */
/*INDEX */
.tituloIndex {

    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 2em;

}

/*INDEX */
p {
    font-family: 'Open Sans', sans-serif;
    color: #606578;

    font-size: 1.1rem;
    line-height: 1;

}



h2 {
    font-family: 'Open Sans', sans-serif;
    color: #606578;
    font-size: 1.3rem;
    text-align: center;

}

/*SERVICIOS */
.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1em;

}

.img {


    width: 75%;
    height: 75%;
    width: 500px;
    height: 400px;
}



.division {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}



/*SOBREMI */
.fotoSobreMi {
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 450px;
    width: 500px;
    opacity: 1;
    margin-left: auto;
}

.sobreMi {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;


}

/*SOBREMI 
/*INDEX*/
.fotoIndex {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    margin-left: auto;
    float: left;
    margin: 0px;
    max-width: 415px;
    max-height: 415px;
    width: 50%;
    height: 50%;
}

/*INDEX */
/*MISION */
.textoMision {
    font-family: 'Open Sans', sans-serif;

}

.box1 {

    width: 19em;
    background-color: #D7D7D9;
    height: 15em;
    padding: 1em 1.5em;
    margin: 0.1em 0.7em 1em 0.7em;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-align: left;

}

.box2 {
    width: 19em;
    background-color: #D7D7D9;
    height: 15em;
    padding: 1em 1.5em;
    margin: 0.1em 0.7em 1em 0.7em;
    border: none;
    font-family: 'Open Sans', sans-serif;

}


.box3 {
    width: 19em;
    background-color: #D7D7D9;
    height: 15em;
    padding: 1em 1.5em;
    margin: 0.1em 0.7em 1em 0.7em;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.box4 {
    width: 19em;
    background-color: #D7D7D9;
    height: 15em;
    padding: 1em 1.5em;
    margin: 0.1em 0.7em 1em 0.7em;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.box1 h1 {
    color: black;
}

.box1 p {
    color: black
}



.box2 h1 {
    color: black;
}

.box2 p {
    color: black;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


/*MISION */

/* */
label {
    display: block;
}

/*contacto */

header nav {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;

}


header nav a img {
    width: 3em;


}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style: none;
    font-family: opens sans-serif;
    margin-right: 10px;


}

header nav ul li a {

    text-decoration: none;
    color: #F1F2F2;
    align-items: flex-end;


}

footer {
    min-height: 15vh;
    background-color: #757575;
    width: 100%;
}



/*MISION,CONTACTO,SOBREMI, SERVICIOS */

.pieDePagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}





#nosVemosFooter {
    color: #1F0802;
    font-family: opens sans-serif;

}

/*INDEX */

.gridsBody {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 48% 13% 20% 15%;
    grid-template-areas:
        "nav"
        "contenido"
        "primero"
        "segundo"
        "ver ";

}



@media (min-width: 320px) and (max-width: 419px) {
    .gridsBody {
        grid-template-columns: 1fr;

        grid-template-rows: 10% 35% 9% 45% 15%;


    }

    h2,p, h1{
        font-size: 0.6em;
    }

    
}




@media (min-width: 320px) and (max-width: 419px) {
    .galeria {
        background-color: tomato;

    }

    .serviciosParrafo {
        background-color: aqua;
        font-size: 1em;
    }
    
    img{
        width: 100%;
        max-width: 350px;
        max-height: 300px;
    }
     
      
   
      
    }



@media (min-width: 420px) and (max-width: 767px) {
    .galeria {
        background-color: gold;

    }

    .serviciosParrafo {
        background-color: red;
        font-size: 1em;

    }

    h2,p{
        font-size: 1rem;
    }

    .img{

        width: 100%;
        max-width: 500px;
        max-height: 500px;

      }

     

    }

@media (min-width: 992px) and (max-width: 1200px) {
.galeria{
    background-color: #f5be6b;
    
}

.serviciosParrafo{
    background-color: blue;

}

.img{
    width: 100%;

}

}



@media (min-width: 320px) and (max-width: 419px) {
    .container{
        background-color: gold;

    } 
.carouselExampleDark{
    background-color: aqua;
}

}

@media (min-width: 420px) and (max-width: 767px) {
    .container{
        background-color: red;

    }
    
   
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container{
        background-color: blue;

    }
    
    
}





.mainIndex {
    grid-area: contenido;
    background-color: #f5be6b;
    justify-self: stretch;
    text-align: left;
}

.sectionIndex1 {
    grid-area: primero;
}

.sectionIndex2 {

    grid-area: segundo;
    background-color: #F2F2F2;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:3em ;
    
}

.footerIndex {
    color: white;
    grid-area: ver;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}

.logo1 img {
    width: 180px;

}

.logo2 img {
    width: 110px;
}

.logo3 img {
    width: 120px;
}


/*SOBREMI */
.gridsFooterSobreMi {
    color: white;
    grid-area: ver;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}




#nosVemosFooter {
    color: #1F0802;
    font-family: opens sans-serif;

}




/*index*/
.logo1 {


    background-color: #D7D7D9;
    margin: 1px;
    height: 15em;
    padding-top: 1px;
    padding-right: 10px;
    border: solid;
    font-family: 'Open Sans', sans-serif;
    height: 200px;
    width: 200px;


}

.logo2 {


    background-color: #D7D7D9;
    margin: 1px;
    height: 15em;
    padding-top: 25px;
    padding-right: 10px;
    border: solid;
    font-family: 'Open Sans', sans-serif;
    height: 200px;
    
    width: 200px;
  


}

.logo3 {

    background-color: #D7D7D9;
    margin: 1px;
    height: 15em;
    padding-top: 30px;
    padding-right: 10px;
    border: solid;
    font-family: 'Open Sans', sans-serif;
    height: 200px;
    width: 200px;
    

}

.rrss svg:hover {

    transform: scale(1.2, 1.2);
}

.rrss svg {
    width: 2em;
    height: 2em;
}

.galeriaMision {
    display: grid;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: 2 100px 1 20px;
    grid-template-areas:
        "dos uno cuatro"
        "tres uno cuatro";
    align-items: center;
    align-content: center;
    justify-content: left;
}




.uno {
    grid-area: uno;
    height: 580px;
    width: 350px;
    object-fit: cover;
    border-radius: 10 px;
    border: solid gray;

}

.dos {
    grid-area: dos;
    height: 340px;
    width: 385px;
    object-fit: cover;
    border-radius: 10 px;
    border: solid gray;


}

.tres {
    grid-area: tres;
    height: 240px;
    width: 383px;
    object-fit: cover;
    border-radius: 10 px;
    border: solid gray;
}

.cuatro {
    grid-area: cuatro;
    width: 620px;
    background-color: white;
    margin: 1px;
    height: 33em;
    padding-top: 35px;
    padding-right: 15px;
    border: solid gray;
    font-family: 'Open Sans', sans-serif;
}


.tituloServicios{
    font-size: 2rem;
}

.frasesMision{
    margin-top: 1em;
    margin-bottom: 2em;
}